<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yimeng.babymom">

    <application
        android:name=".utils.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/app_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.yimeng.babymom.activity.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.yimeng.babymom.activity.IntroduceActivity" />
        <activity
            android:name="com.yimeng.babymom.activity.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.yimeng.babymom.activity.PwdRetActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name="com.yimeng.babymom.activity.AboutActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>
